<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.al.whippersnapper" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <permission android:name="com.al.whippersnapper.permission.C2D_MESSAGE" android:protectionLevel="signature" />
    <uses-permission android:name="com.al.whippersnapper.permission.C2D_MESSAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:name=".applications.ParseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <!-- 79:7E:92:AC:69:20:96:D5:14:1E:45:7B:8E:13:05:59:63:56:6A:BE;com.al.whippersnapper -->
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyACuMz-XWLRZ6oOIXeI-W9PDJeXK4-YtV0" />

        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.ChatActivity"
            android:label="@string/title_activity_chat" >
        </activity>
        <activity
            android:name=".activities.CreateTaskActivity"
            android:label="@string/title_activity_create_task" >
        </activity>
        <activity
            android:name=".activities.FindTaskActivity"
            android:label="@string/title_activity_find_task" >
        </activity>
        <activity
            android:name=".activities.UserTypePickerActivity"
            android:label="@string/title_activity_user_type_picker" >
        </activity>
        <activity
            android:name=".activities.FillOutProfileActivity"
            android:label="@string/title_activity_fill_out_profile" >
        </activity>
        <activity
            android:name=".activities.SeniorHomeActivity"
            android:label="@string/title_activity_senior_home" >
        </activity>
        <activity
            android:name=".activities.WaitingForChatActivity"
            android:label="@string/title_activity_waiting_for_chat" >
        </activity>
        <activity
            android:name=".activities.ShowTaskDetailsActivity"
            android:label="@string/title_activity_show_task_details" >
        </activity>


        <service android:name="com.parse.PushService" />
        <receiver android:name="com.parse.ParseBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="com.al.whippersnapper" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.parse.ParsePushBroadcastReceiver" android:exported="false">
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.DELETE" />
                <action android:name="com.parse.push.intent.OPEN" />
            </intent-filter>
        </receiver>

        <meta-data android:name="com.parse.push.notification_icon" android:resource="@mipmap/ic_launcher"/>

    </application>

</manifest>
